<div class="container">
    <h2>View PSU Data</h2>
    <div class="mb-3">
        <label for="finYearSelect" class="form-label">Select Financial Year:</label>
        <select id="finYearSelect" class="form-select">
            <option value="">-- Select Year --</option>
            <option value="2020-21">2020-21</option>
                <option value="2021-22">2021-22</option>
                <option value="2022-23">2022-23</option>
                <option value="2023-24">2023-24</option>
                <option value="2024-25">2024-25</option>
        </select>
        <input type="hidden" id="dmdNo" value="<%= DmdNo ? DmdNo : '' %>">
        <input type="hidden" id="psuName" value="<%= Psu_Name ? Psu_Name : '' %>">
    </div>

    <div id="yearwiseGrid" class="mb-4"></div>
    <div id="balanceSheetGrid" class="mb-4"></div>
    <div id="incomeSheetGrid" class="mb-4"></div>
    <div id="govtRelGrid" class="mb-4"></div>
</div>

