<div class="container">
    <h2>View PSU Data</h2>
    <div class="mb-3">
        <label for="finYearSelect" class="form-label">Select Financial Year:</label>
        <select id="finYearSelect" class="form-select">
            <option value="">-- Select Year --</option>
            <option value="2025-26">2025-26</option>
            <option value="2026-27">2026-27</option>
            <option value="2027-28">2027-28</option>
            <option value="2028-29">2028-29</option>
            <option value="2029-30">2029-30</option>
        </select>
        <input type="hidden" id="dmdNo" value="<%= DmdNo ? DmdNo : '' %>">
        <input type="hidden" id="psuName" value="<%= Psu_Name ? Psu_Name : '' %>">
    </div>

    <div id="yearwiseGrid" class="mb-4"></div>
    <div id="balanceSheetGrid" class="mb-4"></div>
    <div id="incomeSheetGrid" class="mb-4"></div>
    <div id="govtRelGrid" class="mb-4"></div>
</div>

