 <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <% if (role == 3) { %>
          <li class="nav-item">
            <a class="nav-link" href="/psu">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span> 
             
            </a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link" href="/psu/view-data">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">View PSUs Data </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/psu/view-data-yearwise">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">PSUs Data year wise </span>
            </a>
          </li>
          <% } %>

           <% if (role == 2) { %>
          <li class="nav-item">
            <a class="nav-link" href="/dept">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span> 
             
            </a>
          </li>
          <% } %>
          <% if (role == 4) { %>
          <li class="nav-item">
            <a class="nav-link" href="/finance">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span> 
             
            </a>
          </li>
         
          <% } %>
          
        </ul>
      </nav>