 <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <% if (role == 3) { %>
          <li class="nav-item">
            <a class="nav-link" href="/psu">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span> 
             
            </a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link" href="/psu/view-data">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">View PSUs Data </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/psu/profile">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">Profile </span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/psu/view-data-yearwise">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">PSUs Data year wise </span>
            </a>
          </li> -->
          <% } %>

          <% if (role == 2) { %>

<li class="nav-item">
    <a class="nav-link" href="/dept">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#psuProfileMenu"
        aria-expanded="false" aria-controls="psuProfileMenu">
        <i class="typcn typcn-folder menu-icon"></i>
        <span class="menu-title">PSU Profile</span>
        <i class="menu-arrow"></i>
    </a>

    <div class="collapse" id="psuProfileMenu">
        <ul class="nav flex-column sub-menu">

            <li class="nav-item">
                <a class="nav-link" href="/dept/pending-profile">
                    Pending For Approval
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dept/approved-profile">
                    Approved
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dept/rejected-profile">
                    Rejected
                </a>
            </li>

        </ul>
    </div>
</li>

<% } %>
          <% if (role == 4) { %>
          <li class="nav-item">
            <a class="nav-link" href="/finance">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span> 
             
            </a>
          </li>
         
          <% } %>

          <% if (role == 5) { %>
          <li class="nav-item">
            <a class="nav-link" href="/sec">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span> 
             
            </a>
          </li>
         
          <% } %>
          <% if (role == 1) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard</span> 
             
            </a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="/admin/psu-profile">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Psu Profile</span> 
             
            </a>
          </li>
          <% } %>
        </ul>
      </nav>