<style>

.table thead th{
    vertical-align: middle;
}

.table td,
.table th{
    white-space: nowrap;
}

.table-responsive{
    overflow-x:auto;
}

</style>
<div class="">
    <h3>PSU Financial Report</h3>
    <hr>
    <div class="row">
        <div class="col-md-2"> 
            <label for="SelectDmdNo">Select Department</label>
            <select id="SelectDmdNo" class="form-control mb-3">
                <option value="">-- ALL --</option>
                <% DemandData.forEach(function(demand) { %>
                    <option value="<%= demand.DmdNo %>"> <%= demand.DeptName %></option>
                <% }); %>
            </select>
        </div>
        <div class="col-md-2">
            <label for="SelectDmdNo">Select PSU</label>
            <select id="SelectPsu" class="form-control mb-3">
                
                <div id="psuList"></div>
            </select>
        </div>
        <div class="col-md-2">
    <label>From Year</label>
    <select id="fromYear" class="form-control">
        <option value="">-- Select --</option>
    </select>
</div>

<div class="col-md-2">
    <label>To Year</label>
    <select id="toYear" class="form-control">
        <option value="">-- Select --</option>
    </select>
</div>
       
        <div class="col-md-3 d-flex align-items-end">
            <button class="btn btn-primary w-80 mb-3" id="generateFinReportBtn">Generate Report</button>
             <button class="btn btn-success mb-3 d-none" id="exportReportExcelBtn">
            Export Excel
            </button>
        </div>
    </div>


    <div id="reportDiv"></div>

    <div class="mt-3 d-none" id="downloadBtns">
      <button id="downloadExcel" class="btn btn-success">Download Excel</button>
      <button id="downloadPdf" class="btn btn-danger">Download PDF</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>